@page "/"

<PageTitle>Accueil</PageTitle>
<section class="home">
	<h1>BIENVENUE sur SIREN-SIRET Validator !</h1>
	<p>Notre application vous permet de vérifier si les numéros SIRET et SIREN que vous saisissez sont valides. Elle se compose de deux parties principales :</p>
	<ul>
		<li>
			<p>
				<strong>Validateur :</strong> 
				Dans cette partie, vous pouvez saisir un numéro SIRET ou SIREN et notre application vous indiquera si le numéro est valide ou non. 
				Pour ce faire, nous utilisons un puissant algorithme qui calcule en temps réel si la saisie est conforme.
			</p>
			<img src="/validateur.jpg" alt="validateur image" />
		</li>
		<li>
			<p>
				<strong>Répertoire des saisies :</strong>
				Dans cette partie, notre application répertorie l’ensemble des saisies que vous avez effectuées.
				Cette fonctionnalité vous permet de suivre les numéros que vous avez vérifiés et de garder une trace de vos activités.
			</p>
			<img src="/historique.jpg" alt="historique image" />
		</li>
	</ul>
	<p>
		En utilisant notre application, vous pouvez être sûr que les numéros SIRET et SIREN que vous saisissez sont valides.
		Cela peut aider à éviter les erreurs coûteuses et à gagner du temps en évitant les retours en arrière pour corriger les erreurs.
	</p>
</section>